#mainBody {/* background: url(../images/seperator.png) repeat-x 0 0;  border-top:2px solid #dedede;*/padding-top: 5px}
#carouselBlk,#header{background: #8ac249;}
#srchFld {background: url(../images/search.png) no-repeat 4px center #fff;}
.tag {background:url(../images/new.png) no-repeat 0 0; position: absolute; display:block; top: -4px;right: -18px; height:48px; width:48px;}
.clr{clear:both;}
.cntr{text-align:center}
.marginLess{margin:0}
#logoArea, #logoArea a{line-height:49px;}
#logoArea .btn, #logoArea .btn-group {margin-top: 0;}
#logo {padding-right:28px;}
#welcomeLine{padding: 9px 0 8px;background: rgba(54, 63, 69, 0.22);}
/* Sidebar--------- */
#myCart  img{float:left; margin-right:8px; }
#myCart .badge {padding: 9px;}
#myCart {font-size: 13px;font-weight: bold; line-height: 33px;}
#sidebar ul ul li a{ font-size:12px;}
#sidebar ul {list-style: none;padding: 0;margin: 0;width: 100%;}

#sidebar  li  a{
	font-weight:bold;
	/*background:url(../images/tabRepeatInactive.png) repeat-x 0 0;*/
	/*color:#262626;*/
	border-bottom: solid lightgrey 1px;
	padding-bottom: 15px;
}
#sidebar ul li li a{background:#eee; padding-left:14px;font-weight:normal;display:block;   font-size:13px; line-height:26px;}
/* body--- */
.thumbnail>a{display:block; text-align:center;}
.thumbnail h5,.thumbnail p{text-align:center}
/* Product page--- */
.alignR{text-align:right;}
.control-label.alignL, .alignL{text-align:left;}
.loginFrm{ margin-bottom:8px;}
.loginFrm .control-group{padding:8px 14px 0; margin-bottom:0 }
/* Compair product page */
.checkbox input[type="checkbox"]{ margin:4px 0 8px -20px }
#sm{text-align:right}
#sm a {margin: 4px;width:32px;}
/* Carousel  */
#myCarousel{
	text-align:center;
	margin-bottom: 20px;
height:350px;
	}
	#myCarousel img{
	text-align:center;
	 margin-bottom:0;
height:350px;
	}
#myCarousel .dark-bg{
	position: absolute;
	z-index: 500;
	width: 100%;
	background: rgba(0,0,0,0.2);
	height:350px;
}

#myCarousel .btn{position:absolute; bottom:10%; right:17%; padding:2% 6%; z-index:9999}
#myCarousel .carousel-caption{
	z-index: 501;
}



.carousel-caption .carousel-btn {
	padding: 15px 7px;
	font-size: 15px;
	line-height: 40px;
	font-weight: 600;
	border: solid 1px;
	border-radius: 4px;

	text-decoration: none;


}
.carousel-caption .carousel-btn:hover {
	background: #ffaa2f;

}

#myCarousel.homCar .item img{width:100%; max-height:506px}
#productView .btn-toolbar{padding-left:3px;}
#productDetail > li, .nav-pills > li {float: right;}
#myTabContent{text-align:justify}
#compairTbl td{text-align:center;}
#accordion2, #legalNotice, .justify, #mainCol{text-align:justify}
#myCarousel .carousel-control{display:none}
#myCarousel:hover .carousel-control{display:block}
/* Footer section--------------- */
#footerSection {background: #202020;color: white;padding: 28px 0 44px;margin-top: 20px;border-top: 1px solid #444;}
#footerSection a{color:#ccc; font-size:11px; padding:0; line-height:24px; display:block; }
#footerSection a:hover{color:#fff;  }
#footerSection  #socialMedia a{ min-width:25px; display:inline; margin-right:6px; text-align:center; line-height:1.5em;}
#socialMedia img{max-width:60px;}
#footerSection  #socialMedia a:hover{background:none;}
/* ===================================================== */
/* Light Box------------------- */
#jquery-overlay {position: absolute;top: 0;left: 0;z-index: 90;width: 100%;height: 500px;}
#jquery-lightbox {position: absolute;top: 0;left: 0;width: 100%;z-index: 100;text-align: center;line-height: 0;}
#jquery-lightbox a img { border: none; }#lightbox-container-image-box {position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}
#lightbox-container-image { padding: 10px; }#lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
#lightbox-nav {	position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}#lightbox-container-image-box > #lightbox-nav { left: 0; }#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}
#lightbox-nav-btnPrev { left: 0; float: left;}#lightbox-nav-btnNext { right: 0; float: right;}
#lightbox-container-image-data-box {font: 10px Verdana, Helvetica, sans-serif;background-color: #fff;margin: 0 auto;line-height: 1.4em;overflow: auto;width: 100%;padding: 0 10px 0;}
#lightbox-container-image-data {	padding: 0 10px; 	color: #666; }
#lightbox-container-image-data #lightbox-image-details {width: 70%; float: left; text-align: left; }	
#lightbox-image-details-caption { font-weight: bold; }#lightbox-image-details-currentNumber {display: block; clear: left; padding-bottom: 1.0em;}
#lightbox-secNav-btnClose {width: 66px; float: right;padding-bottom: 0.7em;	}
/* ------------------------------- */
.navbar-search .srchTxt {border-radius: 0;border: 1px solid #444;}
[class^="icon-"], [class*=" icon-"] {background-image: none;}

#logoArea, #logoArea a{outline:none;}
.alignR .checkbox input[type="checkbox"] {float: right;margin: 4px 0 8px 11px;}

#logoArea  #smallScreen {margin: 21px 14px 0 0;}
.navbar-search {margin-top: 8px;}
/* Responsive--------------------- */
/* Large desktop */
@media (min-width: 1200px) {
    .post-info
    {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .post-info
    {
        width: 75%;
    }
}
@media (min-width: 768px) {
    .post-info
    {
        width: 80%;

    }
	.container
	{
		width: 95%;
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
#sideManu,#topMenu{/*height:0*/}
.navbar-search {margin-top: 8px;width: 100%;float: none;}
#topMenu{height: auto;float: none;}
#topMenu li{float: none;}
#sideManu,#topMenu{/*height:0*/}
	.modal-dialog.special
	{
		width: 75%;
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
#header, #carouselBlk{margin: 0 -20px;}
#sideManu,#topMenu,#sidemenu-title{/*height:0*/display: none}
#topMenu{height: auto;float: none;}
#topMenu li{float: none;}
	.modal-dialog.special
	{
		width: 95%;
	}
 }
/* Landscape phones and down */
@media (max-width: 480px) {
#header, #carouselBlk{margin: 0 -20px;}
#sideManu, #topMenu{/*height:0*/}
#topMenu{height: auto;float: none;}
#topMenu li{float: none;}
}

.thumbnails img
{
	width: 100px;
	height: 100px !important;
}

@media (max-width: 767px){
	.container-fluid-nav {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
    .post-icon
    {
        margin: auto;
    }
    .post-title
    {
    }

}
@media (min-width: 768px){
	.navbar-nav>li>a {
		/*padding-top: 25px;
		padding-bottom: 25px;*/
		font-weight: 600;
	}
}
.badge-warning {
	background-color: #f89406;
}
.text-gray
{
	color: #7f869f !important;
	font-weight: 500;
}
.alpha-list {
	overflow: auto;
}
.alpha-list a{
	margin-left: 15px;
	text-decoration: underline ;
}
.thumbnail .caption {
	padding: 0 !important;
}
.thumbnails
{
	list-style-type: none
}
#confirm_img img
{
	width: 150px;
	height: 150px;
}
.row.special
{
	margin-left: -15px;
}

@media (min-width: 980px) {


	.modal-dialog.special
	{
		width: 65%;
	}




}
.post-container
{
	padding-left: 30px;
	padding-right: 26px;
}

.post
{
	font-family: Tahoma, Helvetica, Arial !important;
	position: relative;


}
.post-body
{
    display: flex;
    flex-wrap: wrap;
    position: relative;

}
.post-icon{
	width: 150px;
	height: 150px;
}
.post-icon img{
	width: inherit;
	height: inherit;
}
.post-info
{
	padding-left: 10px;
	padding-right: 10px;

}
.post-title h4
{

	font-weight: 600;
	font-size: 21px;
    color: #252d22;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}
.post-info .post-text
{
    color: rgb(127, 134, 159);

    font-family: Helvetica;
	line-height: 27px;
}
.post-divbar
{
    position: relative;
    display: flex;
    margin-bottom: 10px;
}
.post-divbar div
{
    width: 30%;
    height: 5px;
}

.post-divbar .divbar1
{
    background-color: #bb4543;
}
 .post-divbar .divbar2
{
    background-color: #2eaaac;
}

.post-divbar .divbar3
{
    background-color: #e0e0e0;
}

.post-detail
{
font-size: 11px;
color: grey;
	margin-bottom: 10px;
    font-weight: 600;
}
.post-detail .detail
{
    margin-left: 10px;
}
.faq-container .question
{

	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;

}
.account-container .title,.account-container .infos
{
	padding: 10px;
}
.account-container .title .content,.account-container .infos .content
{
	background: white;
	padding: 2px;
	min-height: 200px;
	border-radius: 3px;
	border:  solid 2px lightgrey;
}
.account-container .infos .content
{
	padding-left: 10px;
	padding-right: 10px;
}
.account-container .title .content .icon
{
	width: 150px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.account-container .title .content img
{
	width: inherit;
	height: inherit;
}
.title-list h4
{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 5px;
}

.title-list h4:hover
{
	background: #dff0d8;
	color: white;

}

.account-title-item.active
{
	background: #dff0d8;

}



.title-list h4 a:hover
{
	color: #ff733c;
	text-decoration: none;

}
.carousel-control {
	position: absolute;
	top: 40%;
	left: 15px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #fff;
	text-align: center;
	background: #222;
	border: 3px solid #fff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: .5;
	filter: alpha(opacity=50);
}

@media (min-width: 1300px)
{
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container ,.span12 {
		width: 1270px;
	}
}

@media (min-width: 1400px)
{
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container,.span12 {
		width: 1370px;
	}
}
@media (min-width: 1500px)
{
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container,.span12 {
		width: 90%;
	}
}
.gic-search
{
	height: 20px;
	width: 25px;
	background: url("../images/search2.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}



.ads-ban
{
	background: #6A75F0;
	padding: 15px 5px;
	color: white;
	font-size: 17px;
	font-weight: 600;
	width: 100%;
	border-radius: 7px;
}
@media (max-width: 480px){
	.carousel-caption {
		 position: absolute;
	}
}
#js-alert,#js-warning
{
	opacity: 0;
	-webkit-transition: opacity 1.2s ;
	-moz-transition: opacity 1.2s;
	-o-transition: opacity 1.2s;
	transition: opacity 1.2s;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	border-radius: 4px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #53672c;


}

@media (max-width: 767px) {

	.body-container
	{
		padding-left: 0;
	}
	#navbar-header
	{
		min-height: 90px;
	}
	#navbar
	{
		border-top: solid 1px white;
	}
	#navbarnav{
		min-height: 90px!important;
	}
	#navbar-img
	{
		width: 100px!important;
		height: 80px!important;
	}
	#navbar-toggle{
		border: white solid 1px;
		margin-top: 30px;

	}
	#welcomeLine
	{
		display: none;
	}
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
		background-color: #fd8344;
	}
	.container-row
	{
		margin-left: -15px !important;
		margin-right: -30px !important;
	}
	#mainBody{
		border-top: none;
	}
	#carouselBlk{
		margin-top: -15px;
	}
	.d2-content-container
	{
		margin-left: -20px ;
		margin-right: -20px ;
	}
	#footerSection
	{
		margin-left: -20px;
		margin-right: -20px;
	}
	#menban
	{
		/*margin-left: -15px !important;
		margin-right: -15px !important;*/
	}

	#home_search_form
	{
		margin-top: 0 !important;
	}
}
.thead-inverse th {
	color: #fff;
	background-color: #373a3c;
}

#home_search_form ::placeholder
{
	color: white;
	font-weight: 600;
}

@media (min-width: 768px) {
	#home_search_form
	{
		width: 200px;
	}
}

@media (min-width: 1024px) {
	#home_search_form
	{
		width: 300px;
	}
}
#sideManu
{
	background: #f6f6f6;
	border-right: solid 1px lightgrey;
}

