html
{
    height: 100%;
}

.nav-side-menu {
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 250px;
    color: #e1ffff;
}

@media screen and (min-width: 768px){
    .nav-side-menu {
   
    height: 100%;
}
}
.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #1391e8;
    background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
    text-decoration: none;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:Arial;
}

/********************************************/
.menu-item .fa
{
    color: #1391e8;
}

a
{
    /*color: #81828a;*/
}
.nav-side-menu li
{
    color: #81828a !important;
    font-weight: 600;
}

.nav-side-menu li :hover
{
    color: white;
}

.menu-content li:hover
{
    background: black;
}
@media screen and (min-width:768px)  {
    .page
    {
        padding-left: 250px;
    }

}
.page
{
    height: 100%;
}



.upper-band
{
    color: #919296;
    font-weight: 600;
    height: 50px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.upper-band-el
{
    padding-right: 15px;
    display: inline;
    margin-left:25px;
    border-right: solid 3px #919296;
}

.upper-band-el2
{
    display: inline;
    margin-left:25px;
}
.conn-as,.conn-as i
{
    display: inline;
}
.upper-band-el .badge.blue
{
    color: white;
    background: #25a0f0;

}
.blue
{
    color: #25a0f0;
}

.upper-band-el .badge.red
{
    color: white;
    background: #eb928c;
}
.body-head
{
    padding-top: 25px;
    height: 100px;
    border-bottom: solid 3px #e3e3e5;
    background: #f6f6f6;
}
.body-head-el
{
    display: inline;
}
.body-head-el.home
{
    font-size: 22px;
    font-weight: 600;
    color: #919296;
    margin-left: 15px;
}
.band-gray
{
 height: 25px;
    background:  #f0eeef;
}
.footer
{
    background: #2e353d;
    min-height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;

}
.big-container
{
    min-height: 100%;
}
.myContainer
{
    width: 100%;
    min-height: 100%;
    position: relative;
    padding-bottom: 95px;
}

.img-login
{
    width: 100px;
    height: 100px;
    margin-left: calc(50% - 50px);

}
.img-login img
{
    width: 100%;
    height: 100%;
}
.item-ue
{
    padding-left: 10px;
    padding-right: 10px;
}

.bloc
{
    text-align: center;
    padding-top: 100px;
}
.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}

/* css de franky */

.pgdiplome
{
   
    border: solid;
    border-radius: 20px;
   margin-bottom: 10%;
   padding-bottom: 10%;
    background-color: #3883b4;

}

.imgdip
{
width: 100%;

}

.diptitle
{
    text-align: center;
    color: white;

}

.relform
{
    float: right;
}

.cadre
{
     float: left;
    width: 20%;
     margin-top: 7%;
    margin-left: 7%;
}

.bout
{
   position:relative;
    width: 50%;
    left: 25%;
}
.card-item
{

    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.card-item .square
{
    height: 135px;
    border: solid 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    color: white;

}
.card-item .card-hr
{
    margin-top: 5px;
}
.card-amount
{
    font-size: 28px;
}

@media (min-width: 980px) {
    .modal-dialog.special
    {
        width: 90%;
    }

}
@media (min-width: 768px) and (max-width: 979px) {

    .modal-dialog.special
    {
        width: 85%;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .modal-dialog.special
    {
        width: 95%;
    }
}
.text-gray
{
    color: #7f869f !important;
    font-weight: 500;
}
#image-container .image-item
{
    min-height: 100px;
    border: solid 1px lightgrey;
    border-radius: 4px;
}
#image-container .image-item img
{
   width: 100%;
}
.notification-container .notification
{
    padding: 0 10px;
}

.notification-container .notification .content
{
    border-top: solid 1px lightgrey;
    border-radius: 3px;
    min-height: 60px;
    position: relative;
    display: flex;
}
.not-image
{
    width: 75px;
    height: 75px;
    background: url("../images/notification.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.not-image.not-image-user
{
    background: url("../images/plus_user.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.not-image.not-image-order
{
    background: url("../images/order.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.not-text
{
    padding-left: 15px;
}





/* CSS de franky */